* {
    text-align: center;
}

body {
    margin-top: 10px;
    width: 1000px;
}

nav {
    text-align: center;
    width: 1000px;
    height: 100px;
    background-color: gainsboro;
    margin-left: 0px;
    margin-bottom: 20px;
}

nav>img {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}

nav li {
    display: inline-block;
    padding-top: 35px;
    height: 70px;
    width: 180px;
}

main {
    width: 1000px;
}

main>img {
    margin-bottom: 20px;
    margin-left: 20px;
}

#middle {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
#middle img {
    margin: 12px;
}

#leftBottom {
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

#rightBottom {
    width: 440px;
    height: 400px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
}

h2 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

#rightBottom p {
    height: 340px;
    overflow: scroll;
}

button {
    float: left;
    margin-top: 10px;
}

#footer {
    background-color: gainsboro;
    width: 1000px;
    height: 100px;
}